:root {
    /* Colours */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --blue-500: #3685FF;
    --blue-600: #2C7DFA;

    /* Spacing */
    --space-200: 16px;
    --space-300: 24px;
    --space-500: 40px;

    /* Font size */
    --text-preset-1: 22px;
    --text-preset-2: 15px;
}

main {
    padding: var(--space-200) var(--space-200) var(--space-500) var(--space-200);
    border-radius: 20px;
    opacity: 100%;
    fill: var(--white);
    display: grid;
    gap: 24px;
}

img {
    width: 288px;
    height: 288px;
    opacity: 100%;
    border-radius: 10px;
    fill: var(--blue-600);
}